@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Libre+Franklin:wght@400;500;600;700&display=swap');
.slick-slide {
    padding-left: 4px !important;
    padding-right: 4px !important;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #7C7C7C;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #7C7C7C;
    border-radius: 10px;
}

.view {
    display: none;
}